
@{
    ViewBag.Title = "ShowRewards";
}

<h2>ShowRewards</h2>

<div class="panel panel-primary">
    <div class="panel-heading">Free Referral Reward Count</div>
    <div class="panel-body"><button type="button" class="btn btn-success">Your Successful Referral Count is<span class="badge">@ViewBag.SuccessfulReferrals</span> out of <span class="badge">10</span></button>  </div>
</div>
