
@{
    ViewBag.Title = "Home Page";
}
@{
    ViewBag.Title = "Home Page";
}


                    <p>
                        Thanks for viewing! Read the docs, create an issue, or fix a bug on <a href="https://github.com/nicinabox/superslides/issues">Github</a>.
                    </p>
                    <p>
                        <a href="http://twitter.com/nicinabox"></a> made this. All these photos are by the amazing <a href="http://www.flickr.com/photos/x30mileswest/">Ryan Green</a>.
                    </p>
    