@{
    ViewBag.Title = "Home Page";
}

<div id="slides">
    <ul class="slides-container">
        <li>
            <img src="~/Content/Images/b.jpg" />  
            <div class="inside-container">
                <h1>It's got popular buzzwords.</h1>
                <div class="contrast">
                    <p>
                        Thanks for viewing! Read the docs, create an issue, or fix a bug on <a href="https://github.com/nicinabox/superslides/issues">Github</a>.
                    </p>
                    <p>
                        <a href="http://twitter.com/nicinabox"></a> made this. All these photos are by the amazing <a href="http://www.flickr.com/photos/x30mileswest/">Ryan Green</a>.
                    </p>
                </div>
            </div>
        </li>
        <li>
            <img src="~/Content/Images/a.jpg" />
            <div class="container">
                Slide two
            </div>
        </li>
    </ul>
</div>
