@{
    ViewBag.Title = "Home Page";
}

<div id="slides">
    <ul class="slides-container">
        <li>
            <img src="~/Content/Images/1.jpg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        <li>
            <img src="~/Content/Images/10.jpeg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        <li>
            <img src="~/Content/Images/11.jpeg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        <li>
            <img src="~/Content/Images/12.jpeg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        <li>
            <img src="~/Content/Images/13.jpeg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        <li>
            <img src="~/Content/Images/14.jpeg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li><li>
    <img src="~/Content/Images/15.jpeg" />
    <h1 class="h-strong text-center">
        Refer and get referred.
    </h1>
    @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
</li>
        <li>
            <img src="~/Content/Images/16.jpeg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        <li>
            <img src="~/Content/Images/17.jpeg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        <li>
            <img src="~/Content/Images/19.jpeg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        <li>
            <img src="~/Content/Images/20.jpeg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        <li>
            <img src="~/Content/Images/21.jpeg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        <li>
            <img src="~/Content/Images/22.jpeg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        <li>
            <img src="~/Content/Images/22.jpeg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        <li>
            <img src="~/Content/Images/23.jpeg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        <li>
            <img src="~/Content/Images/24.jpeg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        <li>
            <img src="~/Content/Images/25.jpeg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        <li>
            <img src="~/Content/Images/26.jpeg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        <li>
            <img src="~/Content/Images/27.jpeg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        <li>
            <img src="~/Content/Images/29.jpeg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        <li>
            <img src="~/Content/Images/3.jpg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        <li>
            <img src="~/Content/Images/4.jpeg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        <li>
            <img src="~/Content/Images/5.jpg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        <li>
            <img src="~/Content/Images/6.jpeg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        <li>
            <img src="~/Content/Images/7.jpeg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        <li>
            <img src="~/Content/Images/9.jpeg" />
            <h1 class="h-strong text-center">
                Refer and get referred.
            </h1>
            @* <a class="btn" href="https://uptowork.com/resume-templates">Create my resume now</a>*@
        </li>
        @*<li>
            <img src="~/Content/Images/a.jpg" />
            <div class="container">
            </div>
        </li>*@
        @*<li>
            <img src="~/Content/Images/b.jpg" style="height:50% !important;" />
            <div class="inside-container">
                <h1>It's got popular buzzwords.</h1>
                <div class="contrast">
                    <p>
                        Thanks for viewing! Read the docs, create an issue, or fix a bug on <a href="https://github.com/nicinabox/superslides/issues">Github</a>.
                    </p>
                    <p>
                        <a href="http://twitter.com/nicinabox"></a> made this. All these photos are by the amazing <a href="http://www.flickr.com/photos/x30mileswest/">Ryan Green</a>.
                    </p>
                </div>
            </div>
        </li>*@
                @*<li>
                    <img src="~/Content/Images/1.jpg" />
              <div class="container">
              </div>
          </li>*@
        @*  <li>
              <img src="~/Content/Images/d.jpeg" />
              <div class="container">
              </div>
          </li>
          <li>
              <img src="~/Content/Images/e.jpeg" />
              <div class="container">
                  Slide two
              </div>
          </li>
          <li>
              <img src="~/Content/Images/f.jpeg" />
              <div class="container">
                  Slide two
              </div>
          </li>*@
    </ul>
</div>


