body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Rajdhani", Helvetica, Arial, sans-serif;
    background-color:#fefbf0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*changing the background colout for menu*/
.navbar-inverse {
     background-color: #fefbf0; 
     border-color: #fefbf0; 
}

/*logo size*/
.navbar-brand{
    font-size:30px;
}

/*change in colour for the menu items and main logo*/
.navbar-inverse .navbar-brand {
    color: #6a6967;
}

.navbar-inverse .navbar-nav > li > a {
    color: #6a6967;
}

/*spacing between top page and the menu item*/
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 15px;
    margin-left: 15px;
}

.navbar-fixed-top {
    top: 25px;
}
