body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Rajdhani", Helvetica, Arial, sans-serif;
    background-color:#fefbf0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*changing the background colout for menu*/
.navbar-inverse {
     background-color: #fefbf0; 
     border-color: #fefbf0; 
}

/*logo size*/
.navbar-brand{
    font-size:30px;
}

/*change in colour for the menu items and main logo*/
.navbar-inverse .navbar-brand {
    color: #6a6967;
}
.navbar-inverse .navbar-nav > li > a {
    color: #6a6967;
}

/*position the text inside the banner images*/
.inside-container {
    position: relative;
    width: 50%;
    max-width: 500px;
    left: 90px;
    top: 30%;
    padding: 10px 20px;
}

/*fix the top nav bar distance from the left side of the screen*/
.container {
    margin-left: 3%;
}

/*hover effect on the menu items*/
.navbar-inverse .navbar-brand:hover{
    color: #191606;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #191606;
}

/*.table-layout--center .table-layout__cell {
    vertical-align: middle;
}*/

